<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/addForm.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="page-wrapper">
        <img src="/logo.png" alt="movie database logo" width="200px" />
        <div class="title"><%= title %></div>
        <form action="/add-movie" method="post">
            <div class="form-row">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Movie title" required />
            </div>
            <div class="form-row">
                <label for="year">Year</label>
                <input type="number" min="1900" max="2099" name="year" id="year" placeholder="Release year" required />
            </div>
            <div class="form-row">
                <label for="genre">Genre</label>
                <select
                    name="genre"
                    id="genre"
                    size="<%= genres.length %>"
                    style="min-height: calc(1.5em * <%= genres.length %>)"
                    required
                >
                    <% genres.forEach((genre) => { %>
                        <option value="<%= genre.id %>"><%= genre.genre %></option>
                    <% }) %>
                </select>
                <!-- <input type="text" name="genre" id="genre" placeholder="e.g. Action, Comedy, etc..." required /> -->
            </div>
            <div class="form-row">
                <label for="director">Director</label>
                <input type="text" name="director" id="director" placeholder="Name of director" required />
            </div>
            <div class="btn-container">
                <button type="submit" class="menu-btn">Add</button>
                <a href="/">
                    <button type="button" class="menu-btn cancel-btn">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>