<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/details.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="page-wrapper">
        <img src="/assets/logo.png" alt="movie database logo" width="200px" />
        <div class="title"><%= title %></div>
        <div class="movie-title"><%= movie.title %></div>
        <div class="wrapper">
            <p><strong>Release Year: </strong><%= movie.year %></p>
            <p><strong>Genre: </strong><%= movie.genre %></p>
            <p><strong>Director: </strong><%= movie.director %></p>
            <p><strong>ID: </strong><%= movie.id %></p>
        </div>
        <a href="javascript:window.history.back()"><button class="menu-btn">Back</button></a>
    </div>
</body>
</html>